@import 'styles/vars.scss';

.form {
  background-color: $color-grey;
  border-radius: 8px;
  box-shadow: 8px 5px 5px darken($color-grey, 10%);
  justify-content: center;



  &-input {
    background-color: $color-green;
    border: none;
    box-shadow: 8px 5px 5px $color-dark;
    display: flex;
    justify-content: center;
    margin: 2em;
    border-radius: 8px;
    font-size: 1.5em;
    padding: 0.6em;
    color: $color-dark;
    outline: none;

  }
  &-button {
    background-color: $color-dark;
    box-shadow: 5px 5px 5px darken($color-grey, 30%);
    border: none;
    border-radius: 10px;
    display: flex;
    font-weight: bold;
    padding: 0.8em;
    text-align: center;
    margin: 5em auto;
    cursor: pointer;
    font-size: 1em;
    color:$color-green;

    &:focus {
      outline: none;
      box-shadow: none;
      position: relative;
      top: 5px;
      left: 5px;
    }

  }
}
