/*
 * HTTP Import
 */
 @import url('https://fonts.googleapis.com/css?family=Kodchasan');

/*
 * Local Import
 */

/*
 * General
 */

 //$color-icon: #7D7D7D;
 //$color-button:  #28ABE4;
 //$color-note: #D4FCAC;


$color-background: #7e97a6;
$color-text: #C4C4CC;
$color-green: #b6f7c1;
$color-grey: #63686e;
$color-dark: #373640;

$text: 'Kodchasan',sans-serif;
